<p>Zgłosiłeś prośbę o powiadomienie o zagadnieniu, które niestety zostało usunięte od momentu Twojego zgłoszenia.</p>

<p>Kliknij w link, aby zobaczyć aktualną listę swoich wszystkich powiadomień: <%= @url %> <p>
