<p>Issue <%= @issue.subject %> requires your attention.</p>

<p>Please visit the issue page: <%= @url %><p>

<p>You can also see a list of all your notifications by following the link: <%= user_notifications_url %></p>
