<h1>Zagadnienie <em><%= @issue.subject %></em> wymaga Twojej uwagi.</h1>

<p>Odwiedź stronę zagadnienia: <%= @url %><p>

<p>Możesz także zobaczyć listę wszystkich swoich powiadomień klikając w link: <%= user_notifications_url %></p>
