<p>Zagadnienie <%= @issue.subject %> wymaga Twojej uwagi.</p>

<p>Odwiedź stronę zagadnienia: <%= @url %><p>

<p>Możesz także zobaczyć listę wszystkich swoich notyfikacji klikając w link: <%= user_notifications_url %></p>
